.settings {
    text-align: center;
    height: 100%;
    z-index: 2500;
}
.search-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.display-none {
    display: none;
}

.search-form input {
    width: 200px;
    text-decoration: none;
    border: none;
    outline: none;
    padding: 4px;
    margin-bottom: 8px;
}

.change-background {
    margin: 28px 0px;
    cursor: pointer;
    font-size: 1.35rem;
    height: 35px;
}

.budget-input {
    
}

.change-budget {
    margin: 7px 0px;
    cursor: pointer;
    font-size: 1.35rem;
    height: 35px;
}

.check-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.edit-budget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 75px;
}

.close {
    display: none;
}

.img-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-list {
    max-height: 77vh;
    overflow: scroll;
}

.imgg img {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    min-height: 105px;
    max-width: 160px;
    max-height: 105px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 8px;
}

.menu-title {
    font-size: 1.5rem;
    padding: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 8px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.fa-times {
    float: right;
    background: none;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.fa-times:hover {
    background: none;
    color: rgb(99, 98, 98);
}

.background {
    height: 100%;
}

.hide {
    display: none;
}

.fa-arrow-left {
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.fa-arrow-left:hover {
    background: none;
    color: rgb(99, 98, 98);
}
.space-between {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 9.5vh);
}

@media (max-width: 800px) {
    .display-none {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
    }

    .budget-display {
        display: none;
    }
}
