* {
    font-family: "Raleway", sans-serif;
}

.oopps {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color: black;
    font-size: 1.5rem;
}

.body {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100vw;
    color: white;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
}
.popdown {
    display: none;
}
.popUp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-down {
    width: 300px;
    height: 100px;
    background: white;
    border-radius: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    position: absolute;
    right: 10vw;
    top: 9vh;
    transition: 0.65s;
    z-index: 100;
}

.menu {
    background: linear-gradient(to bottom, #8a8a8a, rgb(46, 46, 46));

    position: absolute;
    right: 0px;
    top: 9vh;
    width: 370px;
    height: 91vh;
    transition: 0.65s;
}

.gone {
    top: -100vh;
    transition: 0.65s;
}
.drop-gone {
    top: -200px;
    transition: 0.65s;
}

.mapped-list {
    min-width: 290px;
    max-width: 290px;
    background: #dfe3e6;
    margin: 15.5vh 0px 0px 14px;
    color: #17394d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    word-wrap: break-word;
    height: min-content;
    max-height: 83vh;
    border-radius: 15px;
}
.list-title {
    position: sticky;
    background: #dfe3e6;
    max-height: 40px;
    top: 0px;
    width: 290px;
    text-align: center;
    padding: 12px 0px;
    border-radius: 10px;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.budget-vacay {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    min-width: 100vw;
    height: 5vh;
    font-size: 1.3rem;
    margin-top: 9vh;

    background: #02020277;
}

.title-display {
    margin: 0px 35px;
}

.add-list {
    margin-top: 15.5vh;
    height: 50px;
    background: #dfe3e6;
    border-radius: 10px;
    min-width: 290px;
    max-width: 290px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 14px;
}

.add-list input {
    border: none;
    border-bottom: 1px solid black;
    background: #dfe3e6;
    outline: none;
}

.add-list button {
    border: none;
    background: #f5f6f7;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgb(129, 129, 141);
    outline: none;
}

.list-item {
    background: #f5f6f7;
    width: 85%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 9px;
    box-shadow: 0px 2px 3px rgb(129, 129, 141);
    word-wrap: break-word;
}

.list--- {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    width: 100%;
}
.delete-l:hover {
    background: #6d6e6e52;
    color: #ffffff;
}
.delete-l {
    position: relative;
    left: -9px;
    padding: 3px 6px;
    color: #6d6e6e7a;
}

.lists-111 {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    background: #dfe3e6;
    width: 290px;
    text-align: center;
    padding: 4.5px 0px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 7px;
    flex-direction: column;
}

.lists-input {
    display: flex;
    justify-content: space-evenly;
    width: 290px;
}
.total {
    margin-bottom: 5px;
}

.lists-111 input {
    border: none;
    border-bottom: 1px solid black;
    background: #dfe3e6;
    outline: none;
}

.lists-111 button {
    border: none;
    background: #f5f6f7;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgb(129, 129, 141);
    outline: none;
}

button:hover {
    background: rgb(210, 210, 211);
}
.delete-list {
    float: right;
    border: none;
    background: #f5f6f7;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}
.list-item button {
    background: none;
}
.list-bars {
    float: right;
    background: none;
    color: #17394d;
    height: 23px;
    width: 23px;
    padding: 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.list-bars:hover {
    background: rgb(210, 210, 211);
}
.edit-list {
    position: relative;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 280px;
    background: rgb(8, 8, 8, 0.71);
    z-index: 20;
    border-radius: 15px;
}
.input-edit {
    width: 240px;
    height: 50px;
    font-size: 1rem;
}

.edit-list textarea {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 240px;
    min-height: 90px;
    word-wrap: break-word;
    margin-bottom: 15px;
    font-size: 1rem;
}
.edit-gone {
    display: none;
}
/* .all {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh; 
    background: #3838389f;
   z-index: 12;

} */

.outer-box {
    position: absolute;
    width: 600px;
    top: calc(50vh - 150px);
    left: calc(50vw - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.buttons button {
    margin: 5px 19px;
    outline: none;
    border: none;
    padding: 5px 9px;
    background: rgb(8, 8, 8, 0.71);
    border-radius: 5px;
    color: white;
    font-size: 1.05rem;
}

.buttons button:hover {
    background: rgb(8, 8, 8, 0.91);
    transform: translateX(6px);
    transition: ease-out 0.15s;
}
.fa-dollar-sign {
    padding: 0;
    margin: 0;
    background: none;
}

.budget {
    position: relative;
    float: right;
    top: 5px;
    padding: 0px 0px 10px 10px;
    font-weight: 500;
}

@media (max-width: 800px) {
    .budget-vacay {
        display: none;
    }
    .mapped-list {
        margin-top: 11vh;
        height: 80vh;
        min-width: 85vw;
    }
    .add-list {
        margin-top: 11vh;
    }
}

@media (max-width: 440px) {
    .menu {
        width: 100vw;
    }
    
}
