.vacation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-image: url("../../img/wander3.jpg");
    background-position: 50% 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}

.vacay-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.vacay-map:hover i {
    opacity: 0.9;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit {
    font-size: 0.8rem;
    background: none;
    opacity: 0;
    z-index: 12;
    position: relative;
    left: 125px;
    top: -135px;
}
.qwe {
    margin-top: 240px;
}
.wordz {
    margin-bottom: 40px;
    color: white;
    text-decoration: none;
    border-bottom: none;
    outline: none;
    font-size: 3rem;
    background: rgba(85, 85, 85, 0.52);
    padding: 10px;
    border-radius: 20px;
}

.blur {
    position: relative;
    top: -60vh;

    background: #5a585844;
    padding: 15px;
    border-radius: 20px;
}
.edit-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-area textarea {
    min-height: 70px;
    max-width: 180px;
    font-size: 1.7rem;
}
.link {
    position: relative;
    top: 34px;
}

.edit-modal {
    /* margin-top: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -73px;
    right: 13px;
    width: 335px;
    min-height: 203px;
    z-index: 200;
    background: rgba(128, 128, 128, 0.685);
    border-radius: 20px;
}
.move-x {
    position: relative;
    top: -78px;
    left: 272px;
    padding: 7px 10px;
}
.move-x:hover {
    background: grey;
    color: #ffffff;
}
.dropped {
    display: none;
}

.edit-buttons button {
    width: 80px;
    margin-left: 10px;
    margin-bottom: 8px;
    outline: none;
    border-radius: 8px;
    border: none;
    padding: 3px;
}
.empty {
    margin-bottom: 70vh;
}

.vacay-map {
    width: 300px;
    height: 200px;
    background: rgba(179, 176, 176, 0.637);
    margin: 0px 25px 50px 25px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    color: white;
    overflow: hidden;
}

@media (max-width: 1100px) {
    .vacation {
        background-image: url("../../img/mountian.jpg");
    }
}
@media (max-width: 420px) {
    .blur {
        top: -200px;
        color: white;
    }
    .empty {
    margin-bottom: 32vh;

    }
}
