.app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161616;
    width: 100vw;
    height: 9vh;
    position: fixed;
    top: 0px;
    z-index: 10;
}

.logob {
    background-image: url('../../img/logob.png');
    background-repeat: no-repeat;
    background-position: 50% 55%;
    width: 900px;
    height: 22vh;
    
    transform: scale(.4)
}

.cant-think {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.drop-down {
    background: #f5f6f7;
    box-shadow: 0px 0px 10px 3px rgb(77, 77, 77);
    color: #17394d;
}
.drop-down input {
    border: none;
    border-bottom: 1px solid black;
    background: #f5f6f7;
    outline: none;
}
.h2 {
    margin: -1px;
}

.drop-down button {
    border: none;
    background: #e8e9eb;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgb(129, 129, 141);
    outline: none;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    margin-right: 10px;
}

.fas {
    background: rgba(179, 176, 176, 0.637);
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.fas:hover {
    background: rgba(117, 116, 116, 0.637);
}
.nope {
    background: none;
    margin-left: 10px;
}

.menu-down {
    background: #f5f6f7;
    position: absolute;
    width: 300px;
    height: 150px;
    top: 9vh;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    transition: 700ms;
    box-shadow: 0px 0px 10px 3px rgb(77, 77, 77);
}

.vacation-hover:hover {
    background: rgba(201, 200, 200, 0.637);

    transform: scale(1.07);
    padding: -1px;
}
.vacation-hover {
    width: 90%;
    padding: 3px;
    border-radius: 15px;
    transition: transform 100ms;
    display: flex;
    justify-content: center;
    align-items: center;
}
.up {
    top: -50vh;
}
.search-icon {
    position: absolute;
    left: 80px;
}
.search-icon input {
    height: 30px;
    width: 200px;
    background: #DFE3E6;
    outline: none;
    border: none;
    border-radius: 2px;

}

.search-icon input[type="text"] {
    font-size: 1.2rem;
}

.search-icon input::placeholder {
    color: rgb(27, 27, 27);
}
.search-icon input:focus {
    background: #ffffff;
    width: 230px;
    color: #17394d;
    
}
.fa-search {
    position: relative;
    right: 35px;
    background: none;
    color: rgb(27, 27, 27);
    
}
.fa-search:hover {
    background: none;
}
